.cart img {
  width: 294px;
  height: 300px;
}
.cart {
  border: 3px solid #0dcaf0;
  margin: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  position: relative;
  height: 430px;
  width: 300px;
}
.btn {
  text-decoration: none;
  background-color: #0dcaf0;
  width: 100%;
  font-weight: 600;
  position: absolute;
  bottom: 0;
  right: 0;
}
.btn:hover {
  background-color: #0e758a;
}
@media screen and (max-width: 576px) {
  .cart img {
    width: 244px;
    height: 250px;
  }
  .cart {
    border: 3px solid #0dcaf0;
    margin: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    height: 380px;
    width: 250px;
  }
}
